*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.todo{
    width: 1200px;
    height: 100vh;
    background-color: rgb(216, 215, 215);
    margin: auto;
    padding: 10px 25px;
}
.todo2{
    display: grid;
    grid-template-columns: 480px 400px ;
    gap: 10px;
    justify-content: center;
    padding: 30px 0;
    
}
.imagem1 img{
    width: 200px;
    height: 150px;
}
.imagem1{
    font-family: cursive;
    display: flex;
    width: 500px;
    align-items: center;
    
} 
.imagem1 p{
    font-size: 1.3em;
    line-height: 20px;
    margin-bottom: 8px;
}
.imagem1 button{
    padding: 10px;
    background-color: rgb(5, 197, 66);
    border: none;
    font-size: 1.2em;
    color: white;
}



.imagem2 img{
    width: 200px;
}
.imagem2{
    font-family: cursive;
     display: flex;
    width: 500px;
    align-items: center;
  
} 
.imagem2 p{
    font-size: 1.3em;
     line-height: 20px;
    margin-bottom: 8px;
}
.imagem2 button{
    padding: 10px;
     background-color: rgb(5, 197, 66);
    border: none;
    font-size: 1.2em;
    color: white;
}


.imagem3 img{
    width: 200px;
}
.imagem3{
    font-family: cursive;
     display: flex;
    width: 500px;
    align-items: center;
} 
.imagem3 p{
    font-size: 1.3em;
     
    line-height: 20px;
    margin-bottom: 8px;
}
.imagem3 button{
   padding: 10px;
    background-color: rgb(5, 197, 66);
    border: none;
    font-size: 1.2em;
    color: white;
}


.imagem4 img{
    width: 200px;
}
.imagem4{
    font-family: cursive;
     display: flex;
    width: 500px;
    align-items: center;
} 
.imagem4 p{
    font-size: 1.3em;
}
.imagem4 button{
  padding: 10px;
    background-color: rgb(5, 197, 66);
    border: none;
    font-size: 1.2em;
    color: white;
}
@media  screen and (max-width: 900px){
  .todo{
    width: 500px;
    overflow: hidden;
  }
.todo2{
   display: grid;
   grid-template-columns: 250px 100px ;
   width: 30px;
  
}
.imagem1{
flex-direction: column;
text-align: center;
font-size: 10px;
}
.imagem2{
flex-direction: column;
text-align: center;
font-size: 10px;
}
.imagem3{
flex-direction: column;
text-align: center;
font-size: 10px;
}
.imagem4{
flex-direction: column;
text-align: center;
font-size: 10px;
}

.imagem1 img{
    width: 150px;
    height: 130px;
}
.imagem2 img{
    width: 150px;
    height: 130px;
}
.imagem3 img{
    width: 150px;
    height: 130px;
}
.imagem4 img{
    width: 150px;
    height: 130px;
}
}