*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: white;
}
.tudo{
   width: 1000px;
  background-image: linear-gradient(rgb(98, 3, 3), rgb(67, 84, 3));
    margin: auto;
  
    height: 100vh;
    
    
}
.todacor{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}




.texto{
    margin-top: 100px;
    color: white;
    text-align: center;
}
.texto h1{
    font-size: 2em;
    text-transform: uppercase;
}
.texto p{
    font-size: 1.7em;
}
.texto img{
    width: 400px;
    margin-top: 30px;
}
.entre{
    position: relative;
    top: 80px;
}
.entre button{
    padding: 10px 30px;
    font-size: 1.5em;
    background-color: rgb(22, 190, 67);
    color: white;
    border-radius: 10px;
    border: none;
    transition: .5s ease;
    text-transform: uppercase;
}
.entre button:hover{
 background-color: rgb(22, 190, 67);
    cursor: pointer;
    transform: scale(1.1);
}
@media screen and (max-width: 900px){
    .tudo{
   width: 391px;
    background-color: blue;
  
    
}




.texto{
    position: relative;
  top: 25px;
    width: 500px;
    padding: 5px 10px;
}
.texto h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    text-transform: uppercase;
    background-color: rgb(6, 135, 60);
    padding: 5px 10px;
    letter-spacing: 3px;
}
.texto p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}

  
   
.texto img{
    width: 250px;
    position: relative;
    top: -5px;
    margin-bottom: -35px;
   

}
.entre button{
    padding: 10px 20px;
    font-size: 1.3em;
    background-color: rgba(34, 237, 81, 0.433);
    color: white;
    border-radius: 10px;
    border: none;
    transition: .5s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
    font-weight: bold;
}
}